# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: There are basically two kind of numbers in python: 1. Integers and 2.Float
         Integers store zero,negative and positive digits but not decimal/fraction value and ON the other hand              Float contains every kind of integers.

Strings: Strings is a sequence of characters,digits or special characters.

Lists: Lists is a group containing any kind of data types in it and can be aaccessed on the basis of indexing.

Tuples: Tuples are immutable group of values.

Dictionaries: Dictionaries are values associated with their keys and can be called on its basis.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
val = (50 * 2)/5 + 81 - 0.75
print(val)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [6]:
val1 = 4 * (6 + 5)
val2 = 4 * 6 + 5
val3 = 4 + 6 * 5
print(f'{val1} {val2} {val3}')

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
Ans. Float

What would you use to find a numberâ€™s square root, as well as its square? 

Ans. **

In [7]:
# Square root: 
sqrt = 4 ** 0.5
print(sqrt)

2.0

In [9]:
# Square:
sq = 4 ** 2
print(sq)

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [10]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[4])

o

In [14]:
# Method 2:

print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [15]:
# Method 1:
list1 = [0,0,0]
print(list1)

[0, 0, 0]

In [16]:
# Method 2:
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)
print(list2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [18]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [22]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [23]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [24]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [28]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1])

['hello']

In [29]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

Can you sort a dictionary? Why or why not?<br><br>

Ans. We can not really sort a dictionary beacause it has nothing like indexing in its definition or arranging values by default.

## Tuples

What is the major difference between tuples and lists?<br><br>

Ans. Tuples are immutable while Lists are mutable.

How do you create a tuple?<br><br>

tuple_t = (1,2,3)

## Sets

What is unique about a set?<br><br>

Ans. Sets can not store duplicate values in it.

Use a set to find the unique values of the list below:

In [31]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set_s = set(list5)
print(set_s)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [32]:
# Answer before running cell
2 > 3

val = 2 > 3
print(val)

False

In [33]:
# Answer before running cell
3 <= 2

val = 3 <= 2
print(val)

False

In [35]:
# Answer before running cell
3 == 2.0

print(3 == 2.0)

False

In [36]:
# Answer before running cell
3.0 == 3
print(3.0 == 3)

True

In [37]:
# Answer before running cell
4**0.5 != 2
print(4 ** 0.5 != 2)

False

Final Question: What is the boolean output of the cell block below?

In [38]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
print(l_one[2][0] >= l_two[2]['k1'])

False

## Great Job on your first assessment!